<phpunit bootstrap="./Bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="TestType">
			<directory suffix=".php">./R/Type/</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-html" target="log/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="75" />
	</logging>
</phpunit>
